<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
         body{
        padding: 100px;
    }
    </style>

</head>
<body>
    <h1>{{showauther.first_name}}</h1>
    <h2> {{showauther.note}}</h2>
    Note:{{i.note}}

    <br>
    <h1>Books</h1>
    <ul>
        
    {% for i in auu %}
        <li>{{i.title}}</li>
    {% endfor %}
    
    </ul>
    <form action="/addbook" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{showauther.id}}" name="idss">
        <select name="select" id="select">
        {% for i in  book%}
        {% if i not in auu %}
        <option value="{{i.id}}">{{i.title}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Ok">
    </form><br><br><br>

    <form action="/aouther" method="post">
        {% csrf_token %}
        
        
        <button type="submit" name="GO">Back to Aouthers page</button><br><br>
        
    </form>
</body>
</html>