.main{
    
    
    justify-content: center;
    width: 400px;
    height: 450px;
    position: fixed;
    top: 100px;
    left: 520px;
    border: 2px solid black;
    background-color: rgb(195, 197, 192);
    box-shadow: 3px 2px 3px gray ;
}
.profileimg{

    position:fixed;
    left: 570px;
    top: 160px;
    width: 80px;
    height: 80px;

}
.top{
    background-color: #17a2b8;
    position: relative;
    top: 0px;
    height: 100px;
}
.name{
    margin-top: 40px;
    margin-left: 50px;
}
.seattle{
    margin-left: 50px;
    

}
.seattle1{
    width: 15px;
    height: 20px;
}

p{
    margin-left: 50px;
}
.img3{
    color: blue;
    text-decoration: underline;
    margin-bottom: 20px;
}
.gearimg{
    width: 15px;
    height: 15px;
    margin-left: 50px;
}