<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .dis{
            background-color: rgb(208, 198, 198);
            width: 220px;
            margin-top: 80px;
            margin-left: 300px;
            padding: 40px;
            height: 180px;
        }
        p{
            margin: 30px;
        }
    </style>
</head>
<body>
    <div class="dis">
    Submited Info:
    <p>Name : {{name}}</p>
    <p>Location :{{location}}</p>
    <p>Faverite : {{favert}}</p>
    </div>
</body>
</html>