    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
             .con{
            border: 3px solid beige;
            width: 600px;
            margin-left: 30%;
            margin-top: 10%;
        }
        .cabsa{
            margin-left: 225px;
            margin-top: 49px;
            width: 100px;
        }
        </style>
    </head>
    <body>
        <div class="con">
        <h1>Add a New Show </h1>

             

        <form action="/showone" method="post">
            {% csrf_token %}
            Title : <input type="text" name="title"><br><br>
            Network: <input type="text" name="net">
            Release Date : <input type="date" name="date"><br><br><br>
            Descreption : <br>
             <textarea name="desc"  cols="70" rows="5" placeholder="Write Desccription" ></textarea>
            <br>
            <input class="cabsa" type="submit" value="create" >

            



        </form>
    {% if messages %}
    <ul class="messages">    
    {% for message in messages %}    
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
    </ul>
    {% endif %}
    </div>
    </body>
    </html>